*{
    margin: 0px;
    padding: 0px;  
}

#main-body{
    margin: 0 1%;
}

body{
    background-color: rgb(226, 225, 225);
}

a{
    text-decoration: none;
}

#header{
    background-color: white;
    padding-top: 2px;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 1;
}

.container{
    width: 100%;
    margin: 0px 0px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.right{
    float: right;
}

.left{
    float: left;
}

.col-1{
    width: 60%;
}

.col-2{
    width:38%;
}

.logo{
    width: 20%;
}

.logo img{
    width: 80%;
    margin-left: 20%; 
    margin-top: 10%;
}

.search{
    width: 75%;
    margin-left: 2%;
}

.search input[type="text"]{
    width: 100%;
    background-color: rgb(235, 235, 255);
    border-color: transparent;
    height: 35px;
    background-size: 20px;
    background-image: url(https://img.icons8.com/?size=24&id=59878&format=png);
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 15px;
    background-position-x: 0.5%;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

.col-2> ul> li{
    display: inline-block;
    width: 18%;
    margin-top: 5px;
    padding: 20px 5px;
    font-weight: 400;
    font: 1em sans-serif;
    position: relative;  
}

.col-2> ul> li> a{
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    cursor: pointer;
}

#section-1{
    background-color: white;
    margin-top: 80px;
    padding: 1%;
}

#section-1 .product{
    display: inline-block;
    width: 10%;
    text-align: center;
    margin-left: 10px;
}

#section-1 .product img{
    height: 60%;
    width: 60%;
    border-radius: 50%;
}

#section-1 h4{
    margin-top: 10px;
    color: black;
    font-weight: 500;
    font: 1em;
    font-family: sans-serif;
}

#banner{
    margin-top: 10px;
}

#section-2{
    background-color: white;
    padding: 1% 0;
    margin-bottom: 1%;
    margin-top: 10px;
}

#section-2 h2{
    margin-left: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.5em;
}

#section-2 h4{
    margin-top: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#section-2 .product{
    background-color: #fff;
    display: inline-block;
    text-align: center;
    width: 15%;
    border-radius: 2%;
    padding: 10px;
    position: relative;
}

#section-2 .product img{
    height: 150px;
    width: 180px;
    margin-top: 10px;
}

h3{
    padding-top: 5px;
    font-weight: 600;
    font-size: 1em;
}


#section-3{
    background-color: white;
    padding: 1% 0;
    margin-bottom: 1%;
}

#section-3 h2{
    margin-left: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.5em;
}

#section-3 h4{
    margin-top: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#section-3 .product{
    background-color: #fff;
    display: inline-block;
    text-align: center;
    width: 15%;
    border-radius: 2%;
    padding: 10px;
    position: relative;
}

#section-3 .product img{
    height: 150px;
    width: 180px;
    margin-top: 10px;
}

h3{
    padding-top: 5px;
    font-weight: 600;
    font-size: 1em;
}
